RewriteEngine On

# 1) http -> https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# 2) www -> non-www
RewriteCond %{HTTP_HOST} ^www\.pascaljaeger\.online$ [NC]
RewriteRule ^ https://pascaljaeger.online%{REQUEST_URI} [R=301,L]
